.submenu {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    width: 200px;
}

.submenu  th {
    background-color: #CCCCCC;
    width: 24px;
    text-align: center;
    height: 24px;
    cursor: pointer;
}

.submenu td, .submenu a {
    padding-left: 4px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.submenu a {
    display: block;
    padding: 2px 0px;
}

.submenu td:hover {
    background-color: #EEEEFF;
}

.submenu td.head {
    padding-left: 4px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url('16-arrow-right.png');
}

.liste a { 
	color: #555599;
	font-weight: bold;
	text-decoration: none;
}  

.liste  th {
    text-align: left;
    padding: 0px 4px;
}

.liste td {
    padding: 0px 4px;
}

.row1 {
    background-color: #F9F9F9;
}

.row2 {
    background-color: #E9E9E9;
}

.row1:hover, .row2:hover  {
    background-color: #D9D9D9;
}

.tree a, .tree td {
    text-decoration: none;
    color: #222222;
    font-size: 10px;
    font-family: Verdana;
    /*font-weight: bold;*/
}

.cbox {
    border: 1px solid #EEEEFF;
    margin: 0px 0px 15px 0px;
}

.cbox h1 {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #EEEEFF;
    margin: 0px;
}

.cbox div.content {
    padding: 5px;
 }
 
 .cm_options a {
    color: black;
    text-decoration: none;
 }