.box .top_left {
    width: 4px;
    height: 28px;
    background-image: url( 'box_top_left.gif' );
    background-repeat: no-repeat;
}

.box .top_center {
    height: 28px;
    background-image: url( 'box_top_center.gif' );
    background-repeat: repeat-x;
    padding: 0px 5px;
}

.box .top_center div{
    font-family: 'Myriad Pro', 'Arial', 'MS Sans Serif', 'sans-serif', 'Vardana';
    font-weight: bold;
    font-size: 12px;
    color: #3B3A39;
    margin-top: 1px;
}

.box .top_right {
    width: 4px;
    height: 28px;
    background-image: url( 'box_top_right.gif' );
    background-repeat: no-repeat;
}

.box .left {
    width: 4px;
    background-image: url( 'box_left.gif' );
    background-repeat: repeat-y;
}

.box .content {
    background-color: #F6F6F6;
    padding: 10px;
    font-family: 'Myriad Pro', 'Arial', 'MS Sans Serif', 'sans-serif', 'Vardana';
    font-size: 12px;
    text-align: justify;
    line-height: 150%;
    font-weight: 500;
}

.box .right {
    width: 4px;
    background-image: url( 'box_right.gif' );
    background-repeat: repeat-y;
}

.box .bottom_left {
    width: 4px;
    height: 4px;
    background-image: url( 'box_bottom_left.gif' );
    background-repeat: no-repeat;
}

.box .bottom_center {
    height: 4px;
    background-image: url( 'box_bottom_center.gif' );
    background-repeat: repeat-x;
}

.box .bottom_right {
    width: 4px;
    height: 4px;
    background-image: url( 'box_bottom_right.gif' );
    background-repeat: no-repeat;
}