#login .username, #login .userpass, #login .capture {
    background-position: 2px 2px;   
    background-repeat: no-repeat;
    border: 1px solid #AAAAAA;
    padding: 4px 0px;
    padding-left: 20px;
    width: 250px;
    font-size: 12px;
}

#login .username { background-image: url(username.png); }
#login .userpass { background-image: url(userpass.png); }
#login .capture  { background-image: url(capture.png); }

#login .ccode {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;    
    margin-top: 15px;
    font-size: 12px;
}

#login .welcome {
    font-size: 12px;
    font-family: Arial;
 }
 
#login .error {
   margin: 15px 30px 5px 30px;
   border: 1px solid #FF9999;
   background-color: #FFEEEE;
   background-image: url(error.png);
   background-position: 5px 5px;   
   background-repeat: no-repeat;
   padding: 5px 5px 5px 35px;
   font-family: courier new;
   font-weight: bold;
   color: #FF9999;
 }
 
 #key {
     background-image: url( 'password.png' );
     background-position: center;
     background-repeat: no-repeat;
     height: 80px;
 }