body {
    margin: 0px;
    font-family: 'Myriad Pro', 'Arial', 'MS Sans Serif', 'sans-serif', 'Vardana';
    font-size: 12px;
    color: #000000;
}

td ,th {
    font-family: 'Myriad Pro', 'Arial', 'MS Sans Serif', 'sans-serif', 'Vardana';
    font-size: 12px;
}

#header {
    height: 94px;
    background-image: url( 'header_bg.png' );
    background-repeat: repeat-x;
}

#mainmenu {
    height: 34px;
    background-image: url( 'menu_bg.png' );
    background-repeat: repeat-x;
}
#mainmenu table {
    margin-left: 3px;
}
#mainmenu td {
    height: 34px;
    padding: 0px 40px;    
    background-image: url( 'menu_spacer.png' );
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

#mainmenu  div {
    margin-top: 2px;
    position: relative;
    font-family: 'Myriad Pro', 'Arial', 'MS Sans Serif', 'sans-serif', 'Vardana';
    font-weight: bold;
    font-size: 13px;
    color: #D8D8D7;
    z-index: 1;
}

#mainmenu  div span {
    position: absolute;
    top: -1px;
    left: -1px;
    color: #434241;
    z-index: 2;
}

#content {
    background-image: url( 'content_bg.png' );
    background-position: top;
    background-repeat: repeat-x;
    padding: 16px; 
}

